<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" data-lt-installed="true">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISA</title>

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/sidebars.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">

</head>
<body>

<svg th:replace="fragments/sidebar :: svgIcons"></svg>

<main>

    <!-- Incluye el fragmento del sidebar -->
    <div th:replace="fragments/sidebarAdmin :: sidebarAdmin"></div>

    <div class="b-example-divider"></div>

    <div class="container mx-auto overflow-auto" style="width: 100%; height: 100vh; display: flex; flex-direction: column;">

        <div class="container mt-4 flex-grow-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold text-primary fs-3">Mantenimiento de cursos</h5>
                    <form th:action="@{/agregarCursos}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="nombreDelCurso" class="form-label">Nombre del curso:</label>
                                    <input type="text" class="form-control" id="nombreDelCurso" name="nombreDelCurso" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="codigo" class="form-label">Código:</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="ciclo" class="form-label">Ciclo:</label>
                                    <input type="number" class="form-control" id="ciclo" name="ciclo" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="minAlumnos" class="form-label">Cantidad mínima de cupos:</label>
                                    <input type="number" class="form-control" id="minAlumnos" name="minAlumnos" required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="maxAlumnos" class="form-label">Cantidad máxima de cupos:</label>
                                    <input type="number" class="form-control" id="maxAlumnos" name="maxAlumnos" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="planEstudios" class="form-label">Plan de estudios:</label>
                                    <input type="text" class="form-control" id="planEstudios" name="planEstudios" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label">Descripción:</label>
                                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="foto" class="form-label">Foto:</label>
                                    <input type="file" class="form-control" id="foto" name="foto" accept="image/*" required>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Agregar Curso</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!-- Tabla de cursos -->
        <div class="card m-3 flex-grow-1">
            <div class="card-body">
                <h5 class="card-title text-center">Lista de Cursos</h5>
                <table id="miTabla">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">ID</th>
                        <th class="text-center align-middle">Foto</th>
                        <th class="text-center align-middle">Nombre</th>
                        <th class="text-center align-middle">Descripción</th>
                        <th class="text-center align-middle">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="curso : ${listaCursos}" class="text-center">
                        <td class="align-middle">
                            <span class="fs-4 fw-bold mx-3" th:text="${curso.id}"> 1</span>
                        </td>
                        <td class="align-middle">
                            <img th:src="@{'data:image/jpeg;base64,' + ${curso.fotoBase64}}" alt="" width="80" height="80" class="rounded-circle me-2">
                        </td>
                        <td class="align-middle">
                            <p class="fs-4 fw-bold" th:text="${curso.nombreDelCurso}">Heading</p>
                        </td>
                        <td class="align-middle">
                            <p><span th:text="${curso.descripcion}"></span></p>
                        </td>
                        <td class="align-middle">
                            <p>
                                <!-- <a class="btn btn-warning" href="#">Editar</a> -->
                                <a class="btn btn-danger btnEliminar" href="#" th:attr="data-idcurso=${curso.id}">Eliminar</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sidebars.js}"></script>
<!-- JavaScript de jQuery (necesario para DataTables) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- JavaScript de DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dataTable = new DataTable('#miTabla', {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            },
            // scrollY: true,
            "scrollY": "400px", // Altura máxima del scroll vertical
            "scrollCollapse": true,
        });
    });

    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();

        let formData = new FormData(this);

        fetch('../../api/cursos/', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                alert('Curso agregado exitosamente');
                window.location.reload()
            })
            .catch(error => {
                // Manejar errores de la solicitud
                console.error('There has been a problem with your fetch operation:', error);
            });
    });

    // Captura los elementos con la clase 'btnEliminar'
    const btnEliminarList = document.querySelectorAll('.btnEliminar');

    // Itera sobre cada botón de eliminación y agrega un evento 'click'
    btnEliminarList.forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            // Obtiene el idCurso desde el atributo 'data-idcurso' del botón
            const idCurso = e.target.getAttribute('data-idcurso');

            // Confirma si realmente desea eliminar el curso
            if (confirm('¿Estás seguro que quieres eliminar este curso?')) {
                // Realiza la solicitud DELETE al backend para eliminar el curso
                fetch(`../../api/cursos/${idCurso}`, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(data => {
                        alert('Curso eliminado exitosamente!')
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Hubo un problema con la solicitud de eliminación:', error);
                    });
            }
        });
    });



</script>


</body>
</html>