<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" data-lt-installed="true">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISA</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/sidebars.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/perfil.css}">

</head>
<body>

<svg th:replace="fragments/sidebarDocente :: svgIcons"></svg>

<main>

    <!-- Incluye el fragmento del sidebar -->
    <div th:replace="fragments/sidebarDocente :: sidebar"></div>

    <div class="b-example-divider"></div>

    <div class="album py-5 bg-light overflow-auto" style="width: 100%;">
        <div class="container ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- Iterar sobre la lista de cursos desde el modelo -->
                <div th:each="cursoDocente, cursoDocenteIndex : ${listaCursosDocentes}" class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{'data:image/jpeg;base64,' + ${cursoDocente.curso.fotoBase64}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text" th:text="${cursoDocente.curso.nombreDelCurso}"></p>
                            <p>Sección: <span class="card-text" th:text="${cursoDocente.seccion}">D</span></p>
                            <p>Turno: <span class="card-text" th:text="${cursoDocente.turno}">D</span></p>
                            <p>Modalidad: <span class="card-text" th:text="${cursoDocente.modalidad}">D</span></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/docente/clases/__${cursoDocente.id}__}" type="button" class="btn btn-outline-primary">Mostrar Horarios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/sidebars.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var buttons = document.querySelectorAll('.registrar-asistencia');
        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                var nombreDelCurso = button.getAttribute('data-curso');
                window.location.href = '/docente/asistencia/' + encodeURIComponent(nombreDelCurso);
            });
        });
    });
</script>


</body>
</html>